#background {
	background-image: linear-gradient(violet, indigo);
	height: 100vh;
	width: 100%;
}

p {
	text-align: center;

	font-size: 3em;
}

h1 {
	text-align: center
}

.col {
	margin: auto;
}

#text {
	font-size: 2.5em;
}

#bottomButton {
    padding-top: 10px;
}

#title {
	padding-bottom: 10%;
	
}

#input {
    padding-left: 5%;
    padding-right: 5%;
}

#thankYou {
	font-size: 1.5em;
}